.chamada {
    background-color: var(--branco);
    display: flex;
    gap: 1rem;
}

.chamada__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;
}

.chamada__descricao {
    font-family: var(--raleway);
    line-height: 1.3;
}

.chamada__foto {
    border-radius: 100%;
}

.chamada__navegacao {
    display: flex;
    gap: 2rem;
}

.chamada__navegacao_link {
    color: var(--preto-suave);
    font-family: var(--raleway);
    text-decoration: none;
    padding-right: 1.5rem;
}

.chamada__navegacao_link--icone {
    background-image: url(/assets/img/seta-preta.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.chamada__navegacao_link:hover {
    text-decoration: underline;
}

.chamada__titulo {
    color: var(--preto-suave);
    font-family: var(--raleway);
    font-weight: bold;
    line-height: 1.3;
}

@media screen and (min-width: 0) {
    .chamada {
        flex-direction: column-reverse;
        padding: 0.875rem;
        gap: 1rem;
    }
    .chamada__descricao {
        font-size: 1.375rem;
        
    }
    .chamada__foto {
        align-self: left;
        width: 15rem;
        height: 15rem;
    }
    .chamada__titulo {
        font-size: 2.375rem;
    }
}

@media screen and (min-width: 768px) {
    .chamada {
        flex-direction: row;
        gap: 2rem;
        padding: 2rem;
    }
    .chamada__descricao {
        font-size: 1rem;
        
    }
    .chamada__foto {
        align-self: center;
        width: 15rem;
        height: 15rem;
    }
    .chamada__titulo {
        font-size: 2.375rem;
    }
}

@media screen and (min-width: 1020px) {
    .chamada {
        flex-direction: row;
        padding: 2rem 8rem;
    }
    .chamada__descricao {
        font-size: 1.375rem;
    }
    .chamada__foto {
        align-self: center;
        height: 23rem;
        width: 23rem;
    }
    .chamada__titulo {
        font-size: 3.25rem;
    }
}